<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
</head>
<body style="background-color: lightblue;">
    <nav>
        <div class="site-title">
            <a href="/"><h1>Habarlar || ABOUT PAGE</h1></a>
            <p>Durlu habarlar barada maglumat</p>
        </div>
        <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>

        <div class="blogs content">
            <h2>All Blogs</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit ipsa dolorum expedita praesentium excepturi quaerat atque sit beatae, voluptas accusantium.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit ipsa dolorum expedita praesentium excepturi quaerat atque sit beatae, voluptas accusantium.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit ipsa dolorum expedita praesentium excepturi quaerat atque sit beatae, voluptas accusantium.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit ipsa dolorum expedita praesentium excepturi quaerat atque sit beatae, voluptas accusantium.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit ipsa dolorum expedita praesentium excepturi quaerat atque sit beatae, voluptas accusantium.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit ipsa dolorum expedita praesentium excepturi quaerat atque sit beatae, voluptas accusantium.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit ipsa dolorum expedita praesentium excepturi quaerat atque sit beatae, voluptas accusantium.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit ipsa dolorum expedita praesentium excepturi quaerat atque sit beatae, voluptas accusantium.</p>
        </div>

    </nav>
</body>
</html>