<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Habarlar</h1></a>
            <p>Durlu habarlar barada maglumat</p>
        </div>
        <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog/create">New Blog</a></li>
        </ul>

        <div class="blogs content">
            <h2>All Blogs</h2>
        </div>

    </nav>
</body>
</html>